# Ignore node_modules folder
node_modules/

# Ignore the dist folder (if you only want it for deployment)
dist/

# Ignore environment variable files (if any)
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore DS_Store files on macOS
.DS_Store